.App {
  text-align: center;
  /* background-color: rgb(230, 230, 230); */
  background-color:white;
  height: 100vh;
}
.footer {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #f9f9f9;
  color: #333;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer a {
  color: #0073e6;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}
